*
{
    margin: 0;
    padding: 0;
    border: 1px solid red;
    /* border: 0; */
}


html{
    background-color: #fdfdfdd8;
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
}

html p{
    font-family: 'Esteban', serif;
}

.page{
    position: relative;
    /* scroll-snap-type: y mandatory ;
    overflow-y: scroll;
    height:100vh; */
}

.page section{
    /* scroll-snap-align: start; */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -2;
}
/* .webgl2
{
    position: absolute;
    outline: none;
    z-index: -2;
} */
header{
    height: 100vh;
    width: 100vw;
}

h1{
    font-size: 4.5rem;
}
h4{
    font-size: 2.5rem;
}

.section1{
    height: 100vh;
    display: flex;
}
.navbar{
    align-items: flex-start;
    width: 100wh;
}

.section1 h1,h4{
    width: 60vw;
    margin-left: 50px;
    margin-bottom: 0;
    margin-top: 0;
}
.section1 header{
    vertical-align: middle;
}
.section2{
    margin-top: 50px;
}
.section2 .title{
    width: 50%;
    margin-left:50px;
    padding-top: 10%;
}
h2{
    font-size: 3.3rem;
}
.projects{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(8,1fr);
    row-gap: 40px;
    padding: 50px;
    justify-items: center;
    padding-bottom: 200px;
}
.projects img{
    width: 100%;
}


#project1{
    filter: url(#noise1) ;
}
#project2{
    filter: url(#noise2) ;
}
#project3{
    filter: url(#noise3) ;
}
#project4{
    filter: url(#noise4) ;
}

.grid-col-span-5{
    grid-column: span 5;
}
.grid-item-left{
    grid-column-end: 6;
}

.grid-item-right{
   grid-column-end: 9;
}

/* remember to fix the width when text is done */
.section3{
    margin-top: 50px;
    height: 100vh;
    width: 97vw;
}
.section3 h2{
    margin-left: 50px;
    width: 50%;
    padding-top: 10%;
}
.info{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2rem;
}
.info p{
    margin-left: 50px;
}

svg{
    position: absolute;
}

